@keyframes change1 {
  0%,
  60% {
    content: 'nlo. nlo. nlo.';
  }
  60%,
  65% {
    content: 'jhwcchfwjf';
  }
  65%,
  70% {
    content: 'mka@dncbn';
  }
  70%,
  75% {
    content: 'xm,cmlckj';
  }
  75%,
  80% {
    content: 'plkiwhd#';
  }
  80%,
  85% {
    content: 'k^o;oibv';
  }
  85%,
  90% {
    content: 'wqe!eugxz';
  }
  90%,
  100% {
    content: 'nlo. nlo. nlo.';
  }
}
@keyframes change2 {
  0%,
  60% {
    content: 'nlo.';
  }
  60%,
  65% {
    content: 'ghd';
  }
  65%,
  70% {
    content: '%rf';
  }
  70%,
  75% {
    content: 'bvx';
  }
  75%,
  80% {
    content: 'qsa';
  }
  80%,
  85% {
    content: '!!!';
  }
  85%,
  90% {
    content: 'gxz';
  }
  90%,
  100% {
    content: 'nlo.';
  }
}
@keyframes change3 {
  0%,
  60% {
    content: 'be fancy';
  }
  60%,
  65% {
    content: 'mk bjhb';
  }
  65%,
  70% {
    content: 'p;.lkb';
  }
  70%,
  75% {
    content: 'nbvc x';
  }
  75%,
  80% {
    content: 'qwer45';
  }
  80%,
  85% {
    content: '89bv^wq';
  }
  85%,
  90% {
    content: 'vbc xz1';
  }
  90%,
  100% {
    content: 'be fancy';
  }
}
@keyframes change4 {
  0%,
  60% {
    content: 'fun';
  }
  60%,
  65% {
    content: 'ht6';
  }
  65%,
  70% {
    content: 'cxd';
  }
  70%,
  75% {
    content: '*c)';
  }
  75%,
  80% {
    content: '\mn';
  }
  80%,
  85% {
    content: 'aaa';
  }
  85%,
  90% {
    content: 'bvgy';
  }
  90%,
  100% {
    content: 'fun';
  }
}
@keyframes change5 {
  0%,
  60% {
    content: 'fashion';
  }
  60%,
  65% {
    content: 'bdhgv%';
  }
  65%,
  70% {
    content: 'bdhgv%';
  }
  70%,
  75% {
    content: 'mkop[]';
  }
  75%,
  80% {
    content: '123ewvb';
  }
  80%,
  85% {
    content: '1qs .;i';
  }
  85%,
  90% {
    content: 'ghjksax';
  }
  90%,
  100% {
    content: 'fashion';
  }
}
@keyframes change6 {
  0%,
  60% {
    content: 'false';
  }
  60%,
  65% {
    content: 'ddsfc';
  }
  65%,
  70% {
    content: '^^fvm';
  }
  70%,
  75% {
    content: 'klklk';
  }
  75%,
  80% {
    content: '112%4';
  }
  80%,
  85% {
    content: 'l;l,m';
  }
  85%,
  90% {
    content: 'dra34';
  }
  90%,
  100% {
    content: 'false';
  }
}
@keyframes change7 {
  0%,
  60% {
    content: 's m t h else?';
  }
  60%,
  65% {
    content: 'bjwbjrhvcx';
  }
  65%,
  70% {
    content: 'w e r4456  7';
  }
  70%,
  75% {
    content: 'a@dr^7ygvm.';
  }
  75%,
  80% {
    content: 'wifhjnfnnb,xa';
  }
  80%,
  85% {
    content: 'qw12r[, .;hfd';
  }
  85%,
  90% {
    content: 'acvzcddfs0--';
  }
  90%,
  100% {
    content: 'a s s x skamq';
  }
}
@keyframes change8 {
  0%,
  60% {
    content: 'б25дз10';
  }
  60%,
  65% {
    content: 'bjwbjrhvcx';
  }
  65%,
  70% {
    content: 'w e r4456  7';
  }
  70%,
  75% {
    content: 'a@dr^7ygvm.';
  }
  75%,
  80% {
    content: 'wifhjnfnnb,xa';
  }
  80%,
  85% {
    content: 'qw12r[, .;hfd';
  }
  85%,
  90% {
    content: 'acvzcddfs0--';
  }
  90%,
  100% {
    content: 'a s s x skamq';
  }
}
@keyframes change9 {
  0%,
  60% {
    content: 'камила рихтер';
  }
  60%,
  65% {
    content: 'fqtf567 v#';
  }
  65%,
  70% {
    content: 'p[;iuy 678';
  }
  70%,
  75% {
    content: '{mkhgxz21? n';
  }
  75%,
  80% {
    content: 'aaaa a a aa a';
  }
  80%,
  85% {
    content: 'iop[;00  bg';
  }
  85%,
  90% {
    content: '&&&&&& ^^ r t y';
  }
  90%,
  100% {
    content: 'cxzsa@q  vbn';
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes change10 {
  0%,
  60% {
    content: 'щеблыкина софья';
  }
  60%,
  65% {
    content: 'dfdfac 12we';
  }
  65%,
  70% {
    content: 'lz;l;.,/oiubn';
  }
  70%,
  75% {
    content: 'bg {09ytq67^';
  }
  75%,
  80% {
    content: 'reqw1234568  8';
  }
  80%,
  85% {
    content: 'i jm k l <<<mn';
  }
  85%,
  90% {
    content: 'hutiipl[;]';
  }
  90%,
  100% {
    content: 'rtewaxc $$drt t';
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10vw);
  }
}
@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3vw);
  }
}
@keyframes tilt {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@keyframes tilt1 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(0px, 2px) rotate(2deg);
  }
  20% {
    transform: translate(-3px, 1px) rotate(-3deg);
  }
  30% {
    transform: translate(4px, 4px) rotate(-2deg);
  }
  40% {
    transform: translate(3px, 1px) rotate(1deg);
  }
  50% {
    transform: translate(1px, 4px) rotate(-3deg);
  }
  60% {
    transform: translate(1px, 5px) rotate(-3deg);
  }
  70% {
    transform: translate(-3px, -3px) rotate(4deg);
  }
  80% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  90% {
    transform: translate(3px, 0px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 5px) rotate(-2deg);
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blinking {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}
@keyframes fall {
  0% {
    top: -15vw;
    transform: rotate(0deg);
  }
  80% {
    top: 18vw;
    transform: rotate(10deg);
  }
  100% {
    top: 20vw;
    transform: rotate(0deg);
  }
}
@keyframes spin {
  100% {
    transform: rotate(1turn) translateX(20vw) translateY(10vw) rotate(-1turn);
  }
}
@keyframes run {
  0% {
    transform: translatex(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes reflect {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(-1);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes text {
  0% {
    width: 0;
  }
  50% {
    width: 9ch;
  }
  100% {
    width: 0;
  }
}
